<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidsx.leaderboarddemo" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Parse pushes -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.androidsx.leaderboarddemo.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.androidsx.leaderboarddemo.permission.C2D_MESSAGE" />

    <application
        android:name=".LeaderboardDemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Launcher activity. -->
        <activity
            android:name=".ui.mock.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Branch.io -->
            <intent-filter>
                <data android:scheme="com.androidsx.leaderboarddemo" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <!-- Game mock. -->
        <activity
            android:name=".ui.mock.PlayActivity"
            android:label="@string/title_activity_play"
            android:noHistory="true"
            android:parentActivityName=".ui.mock.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.mock.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.mock.GameOverActivity"
            android:label="@string/title_activity_game_over"
            android:parentActivityName=".ui.mock.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.mock.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.mock.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".ui.admin.AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>
        <activity
            android:name=".ui.mock.NewRoomActivity"
            android:label="@string/title_activity_new_room"
            android:parentActivityName=".ui.admin.AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>

        <!-- Admin pages. -->
        <activity
            android:name=".ui.admin.JoinRoomActivity"
            android:label="@string/title_activity_join_room"
            android:parentActivityName=".ui.admin.AdminActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>
        <activity
            android:name=".ui.admin.AdminActivity"
            android:label="@string/title_activity_admin" >
        </activity>
        <activity
            android:name=".ui.admin.PickLevelActivity"
            android:label="@string/title_activity_pick_level" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>
        <activity
            android:name=".ui.admin.PickUserActivity"
            android:label="@string/title_activity_pick_user" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.admin.AdminActivity" />
        </activity>
        <activity
            android:name=".ui.admin.PickRoomActivity"
            android:label="@string/title_activity_pick_room" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.mock.LeaderboardActivity" />
        </activity>

        <!-- Parse data. -->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <!-- Parse pushes. -->
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.androidsx.leaderboarddemo" />
            </intent-filter>
        </receiver>

        <!-- Branch.io deep-links. -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_dnbC94EaJLb3LbaDFaxcYfpnFsooOrkX" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_abiz63thKPn2MhnBxoqdGdjlDCchKzaU" />
    </application>
</manifest>
